- @page_title = "Admin Menu"
.menu
  %h2 Admin Menu
  .identity Logged in as: #{session[:username]}
  %ul
    %li= link_to("Manage Subjects", subjects_path)
    %li= link_to("Manage Pages","#")
    %li= link_to("Manage Sections", "#")
    %li= link_to("Manage Admin Users", admin_users_path)
    %li= link_to("Logout", logout_path)
